<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/img/dp2233.jpg">
    <title>QuesTechBot</title>
</head>
<body>
    
    <h1>Ask and Learn with QuesTechBot</h1>

    <form action="/get_explanation" method="post">
        <label for="query"></label>
        <input type="text" id="query" name="query" required placeholder="Enter Questions And Get Answers">
        <button type="submit">Get Explanation</button>
    </form>
    <div class="container">
    {% if query %}
        <h2>Query: {{ query }}</h2>
        <p>Explanation: {{ explanation }}</p>
    {% endif %}

</div>
</body>
</html>
